.workouts
  %h1 Current Workout

  .workout
    - @workout.exercises.each do |exercise|
      .exercise.container
        %h3= exercise.name
        %ul
          - @workout.sets.where(exercise: exercise).each do |set|
            %li= "#{set.weight} x #{set.rep_count}"
        %a.button{ href: new_workout_set_path({ workout_set: { exercise_id: exercise.id, workout_id: @workout.id } }) } add set
