.workout_set {
  .weight, .rep_count {
    height: 150px;
    line-height: 150px;
    margin: 50px 10px;

    input {
      float: right;
      height: 80px;
      font-size: inherit;
      margin-top: 20px;
    }
  }
}
